*
*/**
**/.DS_Store
!out/extension/node/extension.js
!out/extension/web/extension.js
!syntaxes/**/*.json
!icons/**/*
!language-configuration.json
!LICENSE-APACHE
!LICENSE-MIT
!package.json
!README.md
